@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 0.5s linear;
}

html{
    scroll-behavior: smooth;
}
